<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>countdown</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class = "divSize" >

        <div class = "temp" style="background-color: blue;">
            <div class="temp" id="counters">
                {% for count in counters %}
                    <p>
                        {{ count.name }} - {{ count.date }} {{ count.time }}
                        {% if count.weekdays_only %}(Weekdays only){% endif %}
                    </p>
                {% endfor %}
            </div>
        </div>

        <div class = "temp" id = "main_class" style="background-color: pink;">

            <div class = "displayCount" style="background-color: brown;" >
                <h2
                    id="output"
                    data-name="{{ main_countdown.name if main_countdown else '' }}"
                    data-date="{{ main_countdown.date if main_countdown else '' }}"
                    data-time="{{ main_countdown.time if main_countdown else '' }}"
                    data-weekdays="{{ 'true' if main_countdown and main_countdown.weekdays_only else 'false' }}"
                >
                    No countdown yet
                </h2>
            </div>

            <div id="bottom" style="background-color: teal;">

                <div id="ButtonDisplay"  style="background-color: red;">
                    <button type="button" class="displayBtn">
                        Edit Background
                    </button>
                    <input type="file" id="bgFile" accept="image/*">
                </div>  

                <div id = "addBtn" style="background-color: orange;">
                    <a href="{{ url_for('home') }}">
                        <button type="button" id="addCountdownBtn" class="displayBtn">
                            Add Countdown
                        </button>
                    </a>

                </div>  
                <div id = "switchBtn" style="background-color: purple;">
                    <button type="button" id="switchCountdownBtn" class="displayBtn">
                        Switch Countdown
                    </button>
                </div>  
                <div id = "weekdaysBtn" style="background-color: yellow;">
                    <button type="button" id="weekdaysCountdownBtn" class="displayBtn">
                        Weekdays Only
                    </button>
                </div>  
            </div>

        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>